<br><br>
<h3>Hibabejelentés</h3>
<table border="1" cellpadding="3">
    <tr align="center">
        <td width="35%">Termék</td>
        <td width="20%">Bejelentés időpontja</td>
        <td width="45%">Meghibásodás meghatározása</td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
</table>

<table>
    <tr>
        <td width="30%" class="border-bottom">
            <img src="../template/signature.jpg"/>
        </td>
        <td width="40%"></td>
        <td width="30%" class="border-bottom"></td>
    </tr>
    <tr align="center">
        <td width="30%">Eladó János e.v.</td>
        <td width="40%"></td>
        <td width="30%">Vásárló aláírása</td>
    </tr>
</table>

<style>
    .border-bottom {
        height: 80px;
        border-bottom: 1px solid black;
    }
</style>