<table border="1" cellpadding="3">
    <tr align="center">
        <td width="35%">Termék</td>
        <td width="20%">Bejelentés időpontja</td>
        <td width="45%">Meghibásodás meghatározása</td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>
    <tr>
        <td height="70" width="35%"></td>
        <td height="70" width="20%"></td>
        <td height="70" width="45%"></td>
    </tr>

</table>